@model QLNS.ViewModel.Catalogs.Ranks.RankDetailRequest
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detail</h1>

<div>
    <h4>Rank Details Model</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rank.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rank.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rank.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rank.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rank.NameRankRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rank.NameRankRole)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.rank.ID }) |
    <a asp-action="Index">Back to List</a>
</div>
