@using QLNSAdminWeb.Models;
@model QLNSAdminWeb.Models.SatisticWorkhourModel;

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
	<h1 class="mt-4">LIST WORK HOUR</h1>
	<ol class="breadcrumb mb-4">
		<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
		<li class="breadcrumb-item active">Danh sách Giờ công</li>
	</ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Time Keeper Today
        </div>
        <div class="card-body">
            <form asp-action="Index" method="get">
                <div class="row d-flex justify-content-end">
                    <div class="col-md-4  d-flex">
                        <label class="control-label m-2" style="font-size:15px">Month:</label>
                        <input type="text" value="@ViewBag.Month" name="Month" class="form-control" />
                        <label class="control-label m-2" style="font-size:15px">Year:</label>
                        <input type="text" value="@ViewBag.year" name="year" class="form-control" />
                    </div>
                    
                    <div class="cold-md-3  d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Tìm</button>
                        <button type="button" onclick="window.location.href='/Statistic/Index'" class="btn btn-dark">Reset</button>
                    </div>
                </div>
            </form>
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        @for(int i = 1; i <= ViewBag.Day; i++)
                        {
                            <th>
                                Day @i
                            </th>
                        }
                        <th>Total</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Employee Name</th>
                        @for (int i = 1; i <= ViewBag.Day; i++)
                        {
                            <th>
                                Day @i
                            </th>
                        }
                        <th>Total</th>
                    </tr>
                </tfoot>
                <tbody>
                   
                    @foreach(var employee in Model.EmployeeModel)
                    {
                        double total = 0;
                        <tr>
                            <td>@Html.DisplayFor(modelItem => employee.Name)</td>
                            @for (int i = 1; i <= ViewBag.Day; i++)
                            {
                                int a = 0;
                                foreach(var workhour in Model.WorkhourStatistics)
                                {
                                    if (employee.ID.Equals(workhour.EmployeeID)&&i==workhour.Day)
                                    {
                                        a = 1;
                                        total = total + workhour.Workhour;
                                        <td>@Html.DisplayFor(modelItem => workhour.Workhour) </td>
                                       
                                    }
                                }
                                if (a == 0)
                                {
                                    <td>0</td>
                                }
                            }
                            <td>@total</td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>