@model QLNS.ViewModel.Catalogs.Allowance.AllowanceDetailRequest
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detail</h1>

<div>
    <h4>Allowance Details Model</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.allowance.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.allowance.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.allowance.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.allowance.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.allowance.Money)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.allowance.Money)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.allowance.ID }) |
    <a asp-action="Index">Back to List</a>
</div>
